.homepage{
	width:100%;
	height:420px;
}

.carousel-container{
	width: 100%;
	height:400px;
	padding: 25px 40px;
  background-color: rgba(102, 2, 60, 0.85);
}

.homepage-instructions{
	float:left;
	width:400px;
	height:580px;
	background-color: rgba(102, 2, 60, 0.85);
	padding:30px;
	margin:75px 40px 40px 40px;
	color:rgba(245, 245, 220, 0.7);
	font-size: 32pt;
	font-family: 'Amatic SC', cursive;
	text-align: center;
}

.blue-box{
	width:400px;
	height:580px;
	background-color: rgba(0, 35, 102, 0.85);
	padding:50px;
}

.blue-box:hover{
	color:rgba(245, 245, 220, 1);
}
