.item{
	height:175px;
	width:300px;
	position:relative;
	background-color: rgba(102, 2, 60, 1);
	/*background-color: rgba(0, 35, 102, 0.9);*/
	margin: 10px 5px 10px 3px;
	opacity: 1;
	color:black;
	font-family: 'Amatic SC', cursive;
}

.item-image{
	position: absolute;
	opacity: 0.7;
	margin: 0 0 0 10px;
	padding:5px;
	background-color: beige;
	transition: opacity 0.1s, margin 0.25s, box-shadow .25s;
}

.description{
	color:white;
	text-align: center;
	opacity: 0.8;
	font-size: 36pt;
	font-weight: 100;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	transition: opacity 0.1s;
}

.item:hover .item-image{
	cursor:pointer;
	opacity: 1;
	margin:0;
	box-shadow: 3px 3px 10px rgba(102, 2, 60, 1);
}

.item:hover .description{
	cursor:pointer;
	opacity: 1;
	text-shadow: 2px 2px 1px black;
}