.navbar-inverse{
  background-color: #000000ba;
  border-color: rgba(102, 2, 60, 1);
}

.navbar{
	width:100%;
	position: fixed;
	z-index: 100;
	top:0;
	min-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 12pt;
	border-radius: 0;
}

.navbar-brand{
	width:auto;
	height: 75px;
	padding: 0px 20px;
	cursor: pointer;
}

.navbar>.container{
	width:100%;
}

.nav>li{
	margin: 12px auto;
}

.go-away-bootstrap-colors>a{
	color: rgba(255,255,255,0.7)!important; 
  background-color: transparent!important;
  text-align: center; 
}

.go-away-bootstrap-colors>a:hover{
	color:beige!important;
	background-color: transparent!important;
}